# Ignore pickle files (model files)
*.pkl

# Ignore Jupyter checkpoints
.ipynb_checkpoints/

# Ignore virtual environments
.venv/
env/
venv/

# Ignore system files
.DS_Store
Thumbs.db

# Ignore VS Code settings (optional)
.vscode/
